.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > div{ width: 100%; }
ul {
  list-style: none;
}
li {
  display: inline;
  padding: 5px;
  margin: 5px;

}
 ul a {
    text-decoration: none;
    color: #fff;
    transition: .5s ease;
  }
 ul a:hover {
    color: rgb(188, 170, 255);
  }

.cardplaceholder {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.pageOrder span {
  padding: 2px ;
  margin: 3px;
  cursor: pointer;
}
.pageOrder span:link ,
.pageOrder span:visited ,
.pageOrder span:active

{ 
  color: #7eadf5;
}